{% extends "layout.html" %}


{% block title %}
Automatic packing list based on your destination
{% endblock %}


{% block main %}
<main>
  <div class="hero">
    <img class="hero__logo" src="static/images/logo-packmytrip.svg" width="278">
    <h2 class="hero__title">Automatic packing list based on your destination</h2>
  </div>


  <form action="/backpack" method="post" id="form">

    <div class="form__group">
      <label class="form__label" for="destination">Where are you planning to travel to?</label>
      <div class="form__input">
        <span class="form__input__prefix">
          <img src="static/images/icon-place.svg" width="24">
        </span>
        <input class="form__input__field" type="text" class="form-control" id="destination" name="destination"
          placeholder="e.g. São Paulo" required>
        <input hidden type="text" id="destination_lat" name="destination_lat">
        <input hidden type="text" id="destination_lng" name="destination_lng">
      </div>
    </div>

    <div class="form__group">
      <fieldset>
        <legend class="form__label">When?</legend>
        <div class="form__dateset">
          <div class="form__input">
            <span class="form__input__prefix">From</span>
            <input class="form__input__field is-date" type="date" class="form-control" id="date_start" name="date_start" placeholder="yyyy-mm-dd" required>
          </div>
          <div class="form__input">
            <span class="form__input__prefix">To</span>
            <input class="form__input__field is-date" type="date" class="form-control" id="date_end" name="date_end" placeholder="yyyy-mm-dd" required>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="form__group">
      <label class="form__label" for="gender">Your type of underwear is...</label>
      <div class="form__input">
        <span class="form__input__prefix"><img src="static/images/icon-gender.svg" width="24"></span>
        <select class="form__input__field is-select" id="gender" name="gender" required>
          <option value="girl">Girl’s panties</option>
          <option value="boy">Boy's underwear</option>
        </select>
      </div>
    </div>

    <hr>

    <button class="form__submit" type="submit">Sort my backpack!</button>
  </form>
</main>
{% endblock %}


{% block footer %}
<script src="static/scripts.js"></script>
<script defer
  src="https://maps.googleapis.com/maps/api/js?key={{context.googlemaps_client_key}}&libraries=places&callback=init"></script>
{% endblock %}