<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, shrink-to-fit=no">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Open+Sans:wght@300;400;700&display=swap"
        rel="stylesheet">

    <link href="/static/images/favicon.ico" rel="icon">
    <link href="/static/normalize.css" rel="stylesheet">
    <link href="/static/styles.css" rel="stylesheet">

    <title>PackMyTrip – {% block title %}{% endblock %}</title>
</head>

<body>

    {% if get_flashed_messages() %}
    <div class="alert">
        {{ get_flashed_messages() | join(" ") }}
    </div>
    {% endif %}

    {% block main %}{% endblock %}

    {% block footer %}{% endblock %}

</body>

</html>